@import url(http://fonts.googleapis.com/css?family=Lora:700italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:900,400,300);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 100%;
  /* 16px */
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.grid {
  max-width: 1000px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px; }
  .grid .col-1, .grid .col-2, .grid .col-3, .grid .col-4, .grid .col-5, .grid .col-6, .grid .col-7,
  .grid .col-8, .grid .col-9, .grid .col-10, .grid .col-11, .grid .col-12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  .grid .col-1 {
    width: 8.333%; }
  .grid .col-2 {
    width: 16.666%; }
  .grid .col-3 {
    width: 24.999%; }
  .grid .col-4 {
    width: 33.332%; }
  .grid .col-5 {
    width: 41.665%; }
  .grid .col-6 {
    width: 49.998%; }
  .grid .col-7 {
    width: 58.331%; }
  .grid .col-8 {
    width: 66.664%; }
  .grid .col-9 {
    width: 74.997%; }
  .grid .col-10 {
    width: 83.333%; }
  .grid .col-11 {
    width: 91.663%; }
  .grid .col-12 {
    width: 100%; }

/* Mobile and Tablet */
.clearfix, .grid, .article-4 .bullet-list {
  zoom: 1; }
  .clearfix:before, .grid:before, .article-4 .bullet-list:before, .clearfix:after, .grid:after, .article-4 .bullet-list:after {
    zoom: 1;
    display: table;
    content: ''; }
  .clearfix:after, .grid:after, .article-4 .bullet-list:after {
    clear: both; }

.inline-block, .article-7 .inner .rotten .percentage .unit {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.a1-gradient, .article-1 .inner, .article-1 .inner:before, .article-1 .inner:after {
  background: #d9d5e5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d9d5e5 0%, #cfcbde 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9d5e5), color-stop(100%, #cfcbde));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d9d5e5 0%, #cfcbde 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d9d5e5 0%, #cfcbde 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d9d5e5 0%, #cfcbde 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d9d5e5 0%, #cfcbde 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d5e5', endColorstr='#cfcbde',GradientType=0 );
  /* IE6-9 */ }

.article-1 {
  background-color: #cdc9dd;
  position: relative; }
  .article-1:before, .article-1:after {
    content: '';
    background-color: #cdc9dd;
    height: 100%;
    position: absolute;
    top: 0; }
  .article-1:before {
    width: 100%;
    left: -100%; }
  .article-1:after {
    width: 22px;
    right: -22px; }
  .article-1 .mobile-show {
    display: none; }
  .article-1 h1 {
    color: white;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 279px;
    font-size: 17.4375rem;
    line-height: 220px;
    line-height: 13.75rem;
    position: absolute;
    z-index: 4;
    left: -20px;
    top: 40px;
    letter-spacing: 4px; }
  .article-1 .inner {
    min-height: 310px;
    text-align: center;
    margin-top: 700px;
    padding: 0 20px;
    position: relative; }
    .article-1 .inner:before, .article-1 .inner:after {
      content: '';
      position: absolute;
      height: 100%;
      top: 0; }
    .article-1 .inner:before {
      width: 100%;
      left: -100%; }
    .article-1 .inner:after {
      width: 22px;
      right: -22px;
      z-index: 1; }
    .article-1 .inner img {
      position: absolute;
      top: -250px;
      left: -45px;
      z-index: 5; }
    .article-1 .inner .body {
      position: absolute;
      top: 85px; }
      .article-1 .inner .body h3 {
        font-family: "Lora", "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 36px;
        font-size: 2.25rem;
        font-weight: 700;
        font-style: italic;
        color: #5f5d66;
        margin-bottom: 26px; }
      .article-1 .inner .body p {
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #6e6c77;
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 27px;
        line-height: 1.6875rem; }

/* Mobile and Tablet */
@media (max-width: 730px) {
  .grid .article-1 {
    width: 100%;
    padding-top: 30px; }
    .grid .article-1 .mobile-show {
      display: block;
      font-family: "Lora", "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 12px;
      font-size: 0.75rem;
      font-style: italic;
      text-transform: uppercase;
      color: #5f5d66;
      text-align: right; }
    .grid .article-1 h1 {
      font-size: 215px;
      font-size: 13.4375rem;
      line-height: 195px;
      line-height: 12.1875rem;
      top: 30px;
      left: 45%; }
    .grid .article-1 .inner {
      margin-top: 300px;
      min-height: 340px; }
      .grid .article-1 .inner img {
        left: 0;
        top: -270px; } }
@media (max-width: 650px) {
  .grid .article-1 h1 {
    font-size: 180px;
    font-size: 11.25rem;
    line-height: 155px;
    line-height: 9.6875rem;
    top: 55px;
    left: 45%; }
  .grid .article-1 .inner img {
    width: 300px;
    top: -190px; } }
@media (max-width: 600px) {
  .grid .article-1 {
    width: 100%; }
    .grid .article-1 h1 {
      font-size: 160px;
      font-size: 10rem;
      line-height: 140px;
      line-height: 8.75rem;
      top: 50px;
      left: 50%; }
    .grid .article-1 .inner {
      margin-top: 370px; }
      .grid .article-1 .inner img {
        left: 0;
        top: -240px; }
      .grid .article-1 .inner .body {
        top: 40px; } }
@media (max-width: 500px) {
  .grid .article-1 h1 {
    left: 40%; } }
@media (max-width: 400px) {
  .grid .article-1 h1 {
    font-size: 155px;
    font-size: 9.6875rem;
    line-height: 130px;
    line-height: 8.125rem;
    left: 10%; }
  .grid .article-1 .inner {
    margin-top: 480px; } }
.article-2 {
  padding: 140px 0 40px 50px;
  position: relative; }
  .article-2 .inner {
    position: relative;
    min-height: 571px; }
    .article-2 .inner img {
      position: absolute;
      top: 0;
      left: -185px;
      z-index: 1; }
    .article-2 .inner .hgroup {
      position: absolute;
      z-index: 2;
      top: 370px; }
      .article-2 .inner .hgroup .mobile-show {
        display: none; }
      .article-2 .inner .hgroup h6, .article-2 .inner .hgroup h2 {
        text-transform: uppercase; }
      .article-2 .inner .hgroup h6 {
        font-family: "Merriweather", "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 13px;
        font-size: 0.8125rem;
        color: #cbb8a0; }
      .article-2 .inner .hgroup h2 {
        font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 75px;
        font-size: 4.6875rem;
        line-height: 79px;
        line-height: 4.9375rem;
        color: #fdcd84;
        margin-bottom: 28px; }
  .article-2 h5 {
    font-family: "Lora", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 12px;
    font-size: 0.75rem;
    font-style: italic;
    text-transform: uppercase;
    color: #b0aeb8;
    text-align: right; }
  .article-2 p {
    font-family: "Merriweather", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 300;
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 33px;
    line-height: 2.0625rem; }

/* Mobile and Tablet */
@media (max-width: 730px) {
  .grid .article-2 {
    width: 100%;
    padding: 0 0 50px;
    margin-bottom: 40px;
    border-bottom: 2px dotted #ddd; }
    .grid .article-2 .mobile-hide {
      display: none; }
    .grid .article-2 .inner {
      min-height: 445px; }
      .grid .article-2 .inner img {
        width: 700px;
        top: -15px;
        left: -75px; }
      .grid .article-2 .inner .hgroup {
        top: 240px;
        left: 30px; } }
@media (max-width: 500px) {
  .grid .article-2 {
    padding-top: 50px; } }
@media (max-width: 400px) {
  .grid .article-2 {
    padding-top: 130px; }
    .grid .article-2 .inner {
      min-height: 420px; }
      .grid .article-2 .inner img {
        width: 200%;
        top: -10px; }
      .grid .article-2 .inner .hgroup {
        left: 0; }
        .grid .article-2 .inner .hgroup h2 {
          font-size: 60px;
          font-size: 3.75rem;
          line-height: 65px;
          line-height: 4.0625rem; }
    .grid .article-2 p {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 30px;
      line-height: 1.875rem; } }
.article-3 {
  text-align: right;
  padding: 0 18px 195px 15px;
  position: relative; }
  .article-3 h4 {
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-size: 1.3125rem;
    color: #24795a;
    margin-bottom: 12px; }
  .article-3 p {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 19px;
    line-height: 1.1875rem;
    color: #464646; }
  .article-3 img {
    position: absolute;
    left: 7px;
    bottom: -20px; }

/* Mobile and Tablet */
@media (max-width: 940px) {
  .grid .article-3 {
    width: 100%;
    padding: 0 18px 45px 170px;
    text-align: left; } }
@media (max-width: 400px) {
  .grid .article-3 {
    padding: 0 80px 35px 0; }
    .grid .article-3 img {
      left: 70%;
      bottom: -20px; } }
.article-4 h4 {
  border-style: solid;
  border-width: 1px 0;
  border-color: #e5e5e5;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #a97d35;
  text-align: center;
  padding: 16px 0;
  margin-bottom: 15px; }
  .article-4 h4 .sub {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    color: #e0c167; }
.article-4 .bullet-list li {
  border-right: 1px solid #e5e5e5;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  padding-bottom: 30px; }
  .article-4 .bullet-list li img {
    position: absolute;
    left: 26%; }
  .article-4 .bullet-list li p {
    color: #e5e5e5;
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center; }
    .article-4 .bullet-list li p .lower {
      text-transform: lowercase; }
  .article-4 .bullet-list li:last-child {
    border: none; }
  .article-4 .bullet-list li.remington, .article-4 .bullet-list li.winchester {
    padding-top: 250px;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 34px;
    line-height: 2.125rem; }
    .article-4 .bullet-list li.remington .large, .article-4 .bullet-list li.winchester .large {
      font-size: 32px;
      font-size: 2rem;
      line-height: 35px;
      line-height: 2.1875rem; }
    .article-4 .bullet-list li.remington .xlarge, .article-4 .bullet-list li.winchester .xlarge {
      font-size: 79px;
      font-size: 4.9375rem; }
  .article-4 .bullet-list li.remington img {
    top: 50px; }
  .article-4 .bullet-list li.winchester img {
    top: 5px; }
  .article-4 .bullet-list li.russian {
    padding-top: 250px;
    font-size: 31px;
    font-size: 1.9375rem;
    line-height: 45px;
    line-height: 2.8125rem; }
    .article-4 .bullet-list li.russian .large {
      font-size: 39px;
      font-size: 2.4375rem;
      line-height: 40px;
      line-height: 2.5rem; }
    .article-4 .bullet-list li.russian .xlarge {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 44px;
      line-height: 2.75rem; }
    .article-4 .bullet-list li.russian img {
      top: 60px; }
  .article-4 .bullet-list li.thumper-220 {
    padding-top: 239px;
    font-size: 38px;
    font-size: 2.375rem;
    line-height: 41px;
    line-height: 2.5625rem; }
    .article-4 .bullet-list li.thumper-220 .large {
      font-size: 40px;
      font-size: 2.5rem; }
    .article-4 .bullet-list li.thumper-220 .xlarge {
      font-size: 87px;
      font-size: 5.4375rem;
      line-height: 42px;
      line-height: 2.625rem; }
    .article-4 .bullet-list li.thumper-220 img {
      top: 60px; }
  .article-4 .bullet-list li.thumper-240 {
    padding-top: 239px;
    font-size: 32px;
    font-size: 2rem;
    line-height: 39px;
    line-height: 2.4375rem; }
    .article-4 .bullet-list li.thumper-240 .large {
      font-size: 38px;
      font-size: 2.375rem;
      line-height: 43px;
      line-height: 2.6875rem; }
    .article-4 .bullet-list li.thumper-240 .xlarge {
      font-size: 87px;
      font-size: 5.4375rem;
      line-height: 42px;
      line-height: 2.625rem; }
    .article-4 .bullet-list li.thumper-240 img {
      top: 50px; }

/* Mobile and Tablet */
@media (max-width: 940px) {
  .grid .article-4 {
    width: 100%; } }
@media (max-width: 790px) {
  .article-4 .bullet-list li.remington, .article-4 .bullet-list li.winchester, .article-4 .bullet-list li.russian {
    width: 33.333%; }
    .article-4 .bullet-list li.remington img, .article-4 .bullet-list li.winchester img, .article-4 .bullet-list li.russian img {
      left: 35%; }
  .article-4 .bullet-list li.thumper-220, .article-4 .bullet-list li.thumper-240 {
    width: 50%; }
    .article-4 .bullet-list li.thumper-220 img, .article-4 .bullet-list li.thumper-240 img {
      left: 35%; }
  .article-4 .bullet-list li.remington, .article-4 .bullet-list li.winchester {
    font-size: 38px;
    font-size: 2.375rem;
    line-height: 44px;
    line-height: 2.75rem; }
    .article-4 .bullet-list li.remington .large, .article-4 .bullet-list li.winchester .large {
      font-size: 43px;
      font-size: 2.6875rem;
      line-height: 47px;
      line-height: 2.9375rem; }
    .article-4 .bullet-list li.remington .xlarge, .article-4 .bullet-list li.winchester .xlarge {
      font-size: 105px;
      font-size: 6.5625rem; }
  .article-4 .bullet-list li.russian {
    font-size: 40px;
    font-size: 2.5rem; }
    .article-4 .bullet-list li.russian .large {
      font-size: 49px;
      font-size: 3.0625rem;
      line-height: 51px;
      line-height: 3.1875rem; }
    .article-4 .bullet-list li.russian .xlarge {
      font-size: 51px;
      font-size: 3.1875rem;
      line-height: 55px;
      line-height: 3.4375rem; }
    .article-4 .bullet-list li.russian img {
      top: 60px; }
  .article-4 .bullet-list li.thumper-220 {
    font-size: 53px;
    font-size: 3.3125rem;
    line-height: 55px;
    line-height: 3.4375rem; }
    .article-4 .bullet-list li.thumper-220 .large {
      font-size: 56px;
      font-size: 3.5rem;
      display: block; }
    .article-4 .bullet-list li.thumper-220 .xlarge {
      font-size: 127px;
      font-size: 7.9375rem; }
  .article-4 .bullet-list li.thumper-240 {
    font-size: 45px;
    font-size: 2.8125rem;
    line-height: 68px;
    line-height: 4.25rem; }
    .article-4 .bullet-list li.thumper-240 .large {
      font-size: 56px;
      font-size: 3.5rem;
      display: block; }
    .article-4 .bullet-list li.thumper-240 .xlarge {
      font-size: 127px;
      font-size: 7.9375rem; } }
/* Mobile and Tablet */
@media (max-width: 640px) {
  .article-4 .bullet-list li.remington, .article-4 .bullet-list li.winchester, .article-4 .bullet-list li.russian {
    padding-top: 270px;
    width: 33.333%; }
    .article-4 .bullet-list li.remington img, .article-4 .bullet-list li.winchester img, .article-4 .bullet-list li.russian img {
      left: 22%; }
  .article-4 .bullet-list li.remington, .article-4 .bullet-list li.winchester {
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 28px;
    line-height: 1.75rem; }
    .article-4 .bullet-list li.remington .large, .article-4 .bullet-list li.winchester .large {
      font-size: 26px;
      font-size: 1.625rem;
      line-height: 29px;
      line-height: 1.8125rem;
      display: block; }
    .article-4 .bullet-list li.remington .xlarge, .article-4 .bullet-list li.winchester .xlarge {
      font-size: 65px;
      font-size: 4.0625rem; }
  .article-4 .bullet-list li.russian {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 29px;
    line-height: 1.8125rem; }
    .article-4 .bullet-list li.russian .large {
      font-size: 28px;
      font-size: 1.75rem;
      line-height: 30px;
      line-height: 1.875rem;
      display: block; }
    .article-4 .bullet-list li.russian .xlarge {
      font-size: 29px;
      font-size: 1.8125rem;
      line-height: 29px;
      line-height: 1.8125rem; }
    .article-4 .bullet-list li.russian img {
      top: 60px; }
  .article-4 .bullet-list li.thumper-220 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 63px;
    line-height: 3.9375rem;
    padding: 70px 15px; }
    .article-4 .bullet-list li.thumper-220 p {
      text-align: right; }
    .article-4 .bullet-list li.thumper-220 img {
      left: 0;
      top: 10%; }
    .article-4 .bullet-list li.thumper-220 .large {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 6px;
      line-height: 0.375rem; }
    .article-4 .bullet-list li.thumper-220 .xlarge {
      font-size: 70px;
      font-size: 4.375rem;
      display: block; }
  .article-4 .bullet-list li.thumper-240 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 0px;
    line-height: 0rem;
    padding: 70px 15px; }
    .article-4 .bullet-list li.thumper-240 p {
      text-align: right; }
    .article-4 .bullet-list li.thumper-240 img {
      left: 10px;
      top: 0; }
    .article-4 .bullet-list li.thumper-240 .large {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 64px;
      line-height: 4rem; }
    .article-4 .bullet-list li.thumper-240 .xlarge {
      font-size: 70px;
      font-size: 4.375rem;
      display: block; } }
/* Mobile and Tablet */
@media (max-width: 400px) {
  .article-4 h4 .sub {
    display: block;
    margin-top: 10px; }
  .article-4 .bullet-list li.remington, .article-4 .bullet-list li.winchester, .article-4 .bullet-list li.russian, .article-4 .bullet-list li.thumper-220, .article-4 .bullet-list li.thumper-240 {
    width: 100%%;
    border-right: none;
    border-bottom: 1px solid #e5e5e5; }
    .article-4 .bullet-list li.remington img, .article-4 .bullet-list li.winchester img, .article-4 .bullet-list li.russian img, .article-4 .bullet-list li.thumper-220 img, .article-4 .bullet-list li.thumper-240 img {
      left: 10px;
      top: 0; }
    .article-4 .bullet-list li.remington p, .article-4 .bullet-list li.winchester p, .article-4 .bullet-list li.russian p, .article-4 .bullet-list li.thumper-220 p, .article-4 .bullet-list li.thumper-240 p {
      text-align: right; }
  .article-4 .bullet-list li.remington, .article-4 .bullet-list li.winchester {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 48px;
    line-height: 3rem; }
    .article-4 .bullet-list li.remington img, .article-4 .bullet-list li.winchester img {
      top: -25px; }
    .article-4 .bullet-list li.remington .large, .article-4 .bullet-list li.winchester .large {
      font-size: 25px;
      font-size: 1.5625rem;
      line-height: 14px;
      line-height: 0.875rem;
      display: block; }
    .article-4 .bullet-list li.remington .xlarge, .article-4 .bullet-list li.winchester .xlarge {
      font-size: 64px;
      font-size: 4rem;
      display: block; }
  .article-4 .bullet-list li.remington {
    padding: 20px 30px 40px; }
  .article-4 .bullet-list li.winchester {
    padding: 35px 30px 40px; }
    .article-4 .bullet-list li.winchester p {
      text-align: left; }
    .article-4 .bullet-list li.winchester img {
      left: 70%;
      top: -40px;
      z-index: 2; }
  .article-4 .bullet-list li.russian {
    padding: 35px 30px 40px;
    font-size: 24px;
    font-size: 1.5rem; }
    .article-4 .bullet-list li.russian .large {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 37px;
      line-height: 2.3125rem;
      display: block; }
    .article-4 .bullet-list li.russian .xlarge {
      font-size: 31px;
      font-size: 1.9375rem;
      line-height: 34px;
      line-height: 2.125rem;
      display: block; }
    .article-4 .bullet-list li.russian img {
      top: -20px; }
  .article-4 .bullet-list li.thumper-220 {
    padding: 40px 30px 50px;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 63px;
    line-height: 3.9375rem; }
    .article-4 .bullet-list li.thumper-220 p {
      text-align: left; }
    .article-4 .bullet-list li.thumper-220 img {
      left: 70%;
      top: -10px; }
    .article-4 .bullet-list li.thumper-220 .large {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 6px;
      line-height: 0.375rem; }
    .article-4 .bullet-list li.thumper-220 .xlarge {
      font-size: 70px;
      font-size: 4.375rem;
      display: block; }
  .article-4 .bullet-list li.thumper-240 {
    padding: 40px 30px 50px;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 0px;
    line-height: 0rem; }
    .article-4 .bullet-list li.thumper-240 p {
      text-align: right; }
    .article-4 .bullet-list li.thumper-240 img {
      left: 0px;
      top: -20px; }
    .article-4 .bullet-list li.thumper-240 .large {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 64px;
      line-height: 4rem; }
    .article-4 .bullet-list li.thumper-240 .xlarge {
      font-size: 70px;
      font-size: 4.375rem;
      display: block; } }
.article-5 {
  color: white;
  background-color: #71625a; }
  .article-5 h3 {
    font-size: 49px;
    font-size: 3.0625rem;
    line-height: 60px;
    line-height: 3.75rem;
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    background-color: #524741;
    text-align: center;
    padding: 27px 0; }
  .article-5 img {
    max-width: 100%; }
  .article-5 a {
    text-decoration: none; }
    .article-5 a:hover, .article-5 a:focus {
      transition: 0.1s; }
  .article-5 .figcaption {
    padding: 22px 22px 30px;
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 35px;
    line-height: 2.1875rem;
    font-family: "Merriweather", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 300; }
  .article-5 .resource {
    display: block;
    font-size: 18px;
    font-size: 1.125rem;
    color: #c1bbb9;
    margin-top: 35px; }
    .article-5 .resource:hover, .article-5 .resource:focus {
      color: white; }

/* Mobile and Tablet */
@media (max-width: 550px) {
  .article-5-wrap {
    padding: 0; }
    .article-5-wrap .article-5 h3 {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 47px;
      line-height: 2.9375rem; }
    .article-5-wrap .article-5 .figcaption {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 31px;
      line-height: 1.9375rem; }
    .article-5-wrap .article-5 .resource {
      font-size: 15px;
      font-size: 0.9375rem;
      margin-top: 25px; } }
.article-6 {
  background: transparent url("../images/immigration.jpg") 0 0 no-repeat;
  padding-top: 170px; }
  .article-6 h3, .article-6 h4 {
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 79px;
    line-height: 4.9375rem;
    border-bottom-style: solid;
    border-bottom-color: black; }
  .article-6 h3 {
    text-transform: uppercase;
    font-size: 82px;
    font-size: 5.125rem;
    padding-bottom: 20px;
    border-bottom-width: 20px; }
  .article-6 h4 {
    font-size: 39px;
    font-size: 2.4375rem;
    line-height: 55px;
    line-height: 3.4375rem;
    border-bottom-width: 3px;
    margin-bottom: 16px;
    padding: 10px 0 12px; }
  .article-6 ul {
    list-style: disc;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 29px;
    line-height: 1.8125rem;
    font-family: "Merriweather", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 300; }
    .article-6 ul li {
      display: inline;
      padding-left: 15px;
      position: relative; }
      .article-6 ul li:first-child {
        padding: 0; }
        .article-6 ul li:first-child:before {
          display: none; }
      .article-6 ul li:before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 10px;
        width: 6px;
        height: 6px;
        background-color: black;
        border-radius: 50%; }
    .article-6 ul b {
      font-weight: 900; }

/* Mobile and Tablet */
@media (max-width: 780px) {
  .grid .article-6 {
    width: 100%; } }
@media (max-width: 400px) {
  .grid .article-6 h3 {
    font-size: 65px;
    font-size: 4.0625rem;
    line-height: 65px;
    line-height: 4.0625rem; }
  .grid .article-6 h4 {
    font-size: 33px;
    font-size: 2.0625rem;
    line-height: 45px;
    line-height: 2.8125rem; }
  .grid .article-6 ul {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 26px;
    line-height: 1.625rem; } }
.article-7 {
  padding: 13px 0 0 13px;
  position: relative; }
  .article-7:after {
    content: '';
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 47%;
    bottom: -14px; }
  .article-7 .inner {
    padding: 198px 0 28px;
    background-color: #3a83bb;
    color: white;
    position: relative; }
    .article-7 .inner img {
      position: absolute;
      top: -65px;
      left: -30px; }
    .article-7 .inner .pad {
      padding: 0 12px; }
    .article-7 .inner h4 {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 30px;
      line-height: 1.875rem;
      font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      padding-bottom: 15px;
      border-bottom: 9px solid #619cc8;
      margin-bottom: 15px; }
      .article-7 .inner h4 .large {
        font-size: 31px;
        font-size: 1.9375rem; }
    .article-7 .inner .overview {
      font-size: 16px;
      font-size: 1rem;
      line-height: 24px;
      line-height: 1.5rem;
      font-family: "Lora", "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 20px; }
    .article-7 .inner .hr-dash {
      border-style: dashed none solid;
      border-color: #234f70 transparent #3476a8;
      border-width: 2px 0 5px; }
    .article-7 .inner .rotten {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 29px;
      line-height: 1.8125rem;
      font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      color: #619cc8; }
      .article-7 .inner .rotten .rating {
        font-size: 32px;
        font-size: 2rem;
        display: block;
        margin-bottom: 19px; }
      .article-7 .inner .rotten .percentage {
        font-size: 54px;
        font-size: 3.375rem;
        line-height: 65px;
        line-height: 4.0625rem;
        color: white;
        float: right; }
        .article-7 .inner .rotten .percentage .unit {
          background: transparent url("../images/percentage.png") 0 0 no-repeat;
          text-indent: -9999px;
          width: 39px;
          height: 41px;
          overflow: hidden; }
    .article-7 .inner .hr-solid {
      border-style: solid none dashed;
      border-color: #3476a8 transparent #234f70;
      border-width: 5px 0 2px;
      margin-bottom: 19px; }
    .article-7 .inner .bar-graph {
      display: block;
      background-color: #619cc8;
      margin-bottom: 22px; }
      .article-7 .inner .bar-graph .twenty-percent-rot {
        display: block;
        width: 20%;
        height: 8px;
        background-color: white; }
    .article-7 .inner .event {
      font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      text-align: center; }
      .article-7 .inner .event .hidden {
        display: none; }
      .article-7 .inner .event .summary {
        color: #619cc8;
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 14px;
        line-height: 0.875rem;
        background-color: #619cc8;
        margin-bottom: 5px; }
        .article-7 .inner .event .summary .block {
          background-color: #3a83bb;
          padding: 0 10px; }
      .article-7 .inner .event .p-location {
        display: block; }
      .article-7 .inner .event .venue {
        font-size: 27px;
        font-size: 1.6875rem;
        line-height: 33px;
        line-height: 2.0625rem;
        color: white; }
      .article-7 .inner .event .p-country-name {
        font-size: 28px;
        font-size: 1.75rem;
        line-height: 34px;
        line-height: 2.125rem;
        color: #619cc8;
        display: block; }
      .article-7 .inner .event .dt-start {
        font-size: 39px;
        font-size: 2.4375rem;
        line-height: 43px;
        line-height: 2.6875rem;
        color: white; }

/* Mobile and Tablet */
@media (max-width: 780px) {
  .grid .article-7 {
    width: 100%;
    margin-top: 50px;
    padding: 0; }
    .grid .article-7 .inner {
      padding-top: 28px; }
      .grid .article-7 .inner img {
        top: -35px; }
      .grid .article-7 .inner .pad {
        padding-left: 230px; }
      .grid .article-7 .inner .p-summary .large {
        display: block; }
      .grid .article-7 .inner .rotten {
        padding-left: 12px;
        font-size: 32px;
        font-size: 2rem;
        line-height: 65px;
        line-height: 4.0625rem; }
        .grid .article-7 .inner .rotten .rating {
          display: inline; }
      .grid .article-7 .inner .event {
        padding-left: 12px; } }
@media (max-width: 505px) {
  .grid .article-7 .inner .pad {
    padding-left: 12px; }
  .grid .article-7 .inner img {
    top: -60px;
    left: 55%;
    width: 55%; }
  .grid .article-7 .inner .rotten {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 30px;
    line-height: 1.875rem; }
    .grid .article-7 .inner .rotten .rating {
      display: block; } }
@media (max-width: 400px) {
  .grid .article-7 {
    margin-top: 230px; }
    .grid .article-7:after {
      left: 43%; }
    .grid .article-7 .inner h4 {
      text-align: center; }
    .grid .article-7 .inner img {
      top: -210px;
      left: 11%;
      width: 80%; } }
.article-8 {
  margin-bottom: 60px;
  position: relative;
  padding-top: 160px; }
  .article-8 .overflow-head {
    background: transparent url("../images/overflow-bkg.png") 0 center no-repeat;
    position: absolute;
    top: -25px;
    height: 311px;
    width: 1058px;
    left: -23px;
    padding-top: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .article-8 .overflow-head h3 {
      font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 82px;
      font-size: 5.125rem;
      line-height: 79px;
      line-height: 4.9375rem;
      transform: rotate(6deg);
      -ms-transform: rotate(6deg);
      /* IE 9 */
      -webkit-transform: rotate(6deg);
      /* Safari and Chrome */
      margin-left: 62px;
      margin-bottom: 10px;
      background: -webkit-linear-gradient(#a5b9c5, transparent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .article-8 p {
    font-family: "Lora", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    font-style: italic;
    color: #5e6c74;
    margin-bottom: 15px; }
    .article-8 p b {
      font-weight: 700; }
    .article-8 p.para-1 {
      text-align: right;
      transform: rotate(2deg);
      -ms-transform: rotate(2deg);
      /* IE 9 */
      -webkit-transform: rotate(2deg);
      /* Safari and Chrome */
      width: 77%;
      float: right; }
    .article-8 p.para-2 {
      clear: right;
      transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
      /* IE 9 */
      -webkit-transform: rotate(-1deg);
      /* Safari and Chrome */
      width: 71%;
      margin: 0 0 30px 20px; }
    .article-8 p.para-3 {
      transform: rotate(1deg);
      -ms-transform: rotate(1deg);
      /* IE 9 */
      -webkit-transform: rotate(1deg);
      /* Safari and Chrome */
      width: 80%;
      margin-left: 145px; }

/* Mobile and Tablet */
@media (max-width: 625px) {
  .article-8 {
    padding: 160px 30px 10px; }
    .article-8 p.para-1, .article-8 p.para-2, .article-8 p.para-3 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; }
    .article-8 p.para-1, .article-8 p.para-2 {
      margin-bottom: 35px; } }
.footer {
  padding-bottom: 60px; }
  .footer .col-12 {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px; }
  .footer small {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 26px;
    line-height: 1.625rem;
    color: #bfbfbf; }
  .footer .highlight, .footer .p-name {
    color: #8d8d8d; }
  .footer small {
    float: left; }
  .footer .vcard {
    float: right;
    text-align: right;
    font-family: "Merriweather", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 19px;
    line-height: 1.1875rem;
    color: #bfbfbf; }
    .footer .vcard .org {
      display: none; }
    .footer .vcard b {
      font-weight: 900; }

/* Mobile and Tablet */
@media (max-width: 400px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px; }
    .footer .vcard {
      margin-top: 20px; } }
