// Variables

// Colors
$white: #fff;
$grey: #e9e7eb;
$pink: #a0728e;
$mid-grey: #555;
$dark-grey: #444;
$dark-pink: #583a51;
$teal: #447979;
$black: #000;

// Typography
$body-font-size: 16px; 
$body-line-height: 26px;

$body-secondary-font-size: 19px; 
$body-secondary-line-height: 30px;

$heading-primary-font-size: 73px; 
$heading-primary-line-height: 73px;

$heading-secondary-font-size: 25px; 
$heading-secondary-line-height: 30px;

$heading-tertiary-font-size: 18px;
$heading-tertiary-line-height: 22px;

$font-lora: 'Lora', "Palatino Linotype", "Book Antiqua", Palatino, serif;
$body-font: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Margin
$spacing: $body-line-height;
$spacing-l: 45px;
$spacing-m: 30px;
$spacing-s: 14px;
$spacing-xs: 7px;

// Break Points
$break-tablet-landscape: 1000px;
$break-tablet-portrait: 768px;
$break-mobile-landscape: 480px;

// Page Width
$max-page-width: 960px;

// Article One

$purple: #5f5d66;
$light-purple: #cdc9dd;