// Variables

// Colors
$white: #fff;
$black: #000;

// Typography
$font-lora: 'Lora', "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-merriweather: 'Merriweather', "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-oswald: 'Oswald', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-lato: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;

// Break Points
$break-tablet-portrait: 768px;
$break-mobile-landscape: 480px;

// Page Width
$max-page-width: 960px;

// Article 1
$a1-purple-heading: #5f5d66;
$a1-purple-body: #6e6c77;
$a1-light-purple: #cdc9dd;

// Article 2
$a2-beige: #cbb8a0;
$a2-mustard: #fdcd84;
$a2-purple: #b0aeb8;

// Article 3
$a3-green: #24795a;
$a3-grey: #464646;

// Article 4
$a4-grey-rule: #e5e5e5;
$a4-gold: #a97d35;
$a4-cream: #e0c167;
$a4-grey-body: #e0e0e0;

// Article 5
$a5-brown: #524741;
$a5-light-brown: #71625a;
$a5-grey: #c1bbb9;

// Article 7
$a7-blue: #3a83bb;
$a7-light-blue: #619cc8;
$a7-dark-blue: #234f70;
$a7-mid-blue: #3476a8;

// Article 8
$a8-blue: #a5b9c5;
$a8-grey: #5e6c74;

// Footer
$footer-grey-rule: #e5e5e5;
$footer-grey: #bfbfbf;
$footer-dark-grey: #8d8d8d;