// Article 1

.a1-gradient {
	background: rgb(217,213,229); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(217,213,229,1) 0%, rgba(207,203,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,213,229,1)), color-stop(100%,rgba(207,203,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(217,213,229,1) 0%,rgba(207,203,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(217,213,229,1) 0%,rgba(207,203,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(217,213,229,1) 0%,rgba(207,203,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(217,213,229,1) 0%,rgba(207,203,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d5e5', endColorstr='#cfcbde',GradientType=0 ); /* IE6-9 */
}

.article-1 {
	background-color: $a1-light-purple;
	position: relative;

	&:before, &:after {
		content: '';
		background-color: $a1-light-purple;
		height: 100%;
		position: absolute;
		top: 0;
	}

	&:before {
		width: 100%;
		left: -100%;	
	}

	&:after {
		width: 22px;
		right: -22px;
	}

	.mobile-show {
		display: none;
	}

	h1 {
		color: $white;
		font-family: $font-lato;
		text-transform: uppercase;
		font-weight: 100;
		@include rem(font-size, 279px);
		@include rem(line-height, 220px);
		position: absolute;
		z-index: 4;
		left: -20px;
		top: 40px;
		letter-spacing: 4px;
	}

	.inner {
		min-height: 310px;
		text-align: center;
		margin-top: 700px;
		padding: 0 20px;
		position: relative;
		@extend .a1-gradient;
		
		&:before, &:after {
			content: '';
			position: absolute;
			height: 100%;
			@extend .a1-gradient;
			top: 0;
		}

		&:before {
			width: 100%;
			left: -100%;
		}

		&:after {
			width: 22px;
			right: -22px;
			z-index: 1;
		}

		img {
			position: absolute;
			top: -250px;
			left: -45px;
			z-index: 5;
		}

		.body {
			position: absolute;
			top: 85px;

			h3 {
				font-family: $font-lora;
				@include rem(font-size, 36px);
				font-weight: 700;
				font-style: italic;
				color: $a1-purple-heading;
				margin-bottom: 26px;
			}

			p {
				font-family: $font-lato;
				color: $a1-purple-body;
				@include rem(font-size, 19px);
				@include rem(line-height, 27px);
			}
		}		
	}
}