// Article 8

.article-8 {
	position: relative;
	padding-top: 160px;
	max-width: 1058px;
	margin: 0 auto 60px;

	.overflow-head {
		background: transparent url('../images/overflow-bkg.png') 0 0 no-repeat;
		position: absolute;
		top: -25px;
		height: 311px;
		width: 100%;
		padding-top: 100px;
		@include box-sizing(border-box);

		h3 {
			font-family: $font-oswald;
			text-transform: uppercase;
			@include rem(font-size, 82px);
			@include rem(line-height, 79px);
			@include transform(6deg);
			margin-left: 62px;
			margin-bottom: 10px;
			background: -webkit-linear-gradient($a8-blue, transparent);
			color: $a8-blue;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.body {
		max-width: 960px;
		margin: 0 auto;
		@include box-sizing(border-box);
		padding: 0 20px;

		p {
			font-family: $font-lora;
			@include rem(font-size, 16px);
			@include rem(line-height, 26px);
			font-style: italic;
			color: $a8-grey;
			margin-bottom: 15px;

			b {
				font-weight: 700;
			}

			&.para-1 {
				text-align: right;
				@include transform(2deg);
				width: 77%;
				float: right;
			}

			&.para-2 {
				clear: right;
				@include transform(-1deg);
				width: 71%;
				margin-bottom: 30px;
			}

			&.para-3 {
				@include transform(1deg);
				width: 80%;
				margin-left: 145px;
			}
		}
	}
}