// Article 6

.article-6 {
	background: transparent url('../images/immigration.jpg') 0 0 no-repeat;
	padding-top: 170px;

	h3, h4 {
		font-family: $font-oswald;
		@include rem(line-height, 79px);
		border-bottom-style: solid;
		border-bottom-color: $black;
	}

	h3 {
		text-transform: uppercase;
		@include rem(font-size, 82px);
		padding-bottom: 20px;
		border-bottom-width: 20px;
	}

	h4 {
		@include rem(font-size, 39px);
		@include rem(line-height, 55px);
		border-bottom-width: 3px;
		margin-bottom: 16px;
		padding: 10px 0 12px;
	}

	ul {
		list-style: disc;
		@include rem(font-size, 22px);
		@include rem(line-height, 29px);
		font-family: $font-merriweather;
		font-weight: 300;

		li {
			display: inline;
			padding-left: 15px;
			position: relative;

			&:first-child {
				padding: 0;

				&:before {
					display: none;
				}
			}	

			&:before {
				content: '';
				position: absolute;
				display: block;
				left: 0;
				top: 10px;
				width: 6px;
				height: 6px;
				background-color: $black;
				border-radius: 50%;
			}
		}

		b {
			font-weight: 900;
		}
	}
}

/* Mobile and Tablet */
@media (max-width: 780px) {

	.grid {
		.article-6 {
			width: 100%;
		}
	}
}