// Article 4

.article-4 {

	h4 {
		border-style: solid;
		border-width: 1px 0;
		border-color: $a4-grey-rule;
		font-family: $font-oswald;
		@include rem(font-size, 15px);
		text-transform: uppercase;
		color: $a4-gold;
		text-align: center;
		padding: 16px 0;
		margin-bottom: 15px;

		.sub {
			font-family: $font-lato;
			@include rem(font-size, 12px);
			color: $a4-cream;
		}
	}

	.bullet-list {
		@extend .clearfix;

		li {
			border-right: 1px solid $a4-grey-rule;
			width: 20%;
			@include box-sizing(border-box);
			float: left;
			position: relative;
			padding-bottom: 30px;

			img {
				position: absolute;
				left: 26%;
			}

			p {
				color: $a4-grey-rule;
				font-family: $font-oswald;
				text-transform: uppercase;
				text-align: center;

				.lower {
					text-transform: lowercase;
				}
			}

			&:last-child {
				border: none;
			}

			&.remington, &.winchester {
				padding-top: 250px;
				@include rem(font-size, 28px);
				@include rem(line-height, 34px);

				.large {
					@include rem(font-size, 32px);
					@include rem(line-height, 35px);
				}

				.xlarge {
					@include rem(font-size, 79px);
				}
			}

			&.remington {

				img {
					top: 50px;
				}
			}

			&.winchester {

				img {
					top: 5px;
				}
			}

			&.russian {
				padding-top: 250px;
				@include rem(font-size, 31px);
				@include rem(line-height, 45px);

				.large {
					@include rem(font-size, 39px);
					@include rem(line-height, 40px);
				}

				.xlarge {
					@include rem(font-size, 40px);
					@include rem(line-height, 44px);
				}

				img {
					top: 60px;
				}
			}

			&.thumper-220 {
				padding-top: 239px;
				@include rem(font-size, 38px);
				@include rem(line-height, 41px);

				.large {
					@include rem(font-size, 40px);
				}

				.xlarge {
					@include rem(font-size, 87px);
					@include rem(line-height, 42px);
				}

				img {
					top: 60px;
				}
			}

			&.thumper-240 {
				padding-top: 239px;
				@include rem(font-size, 32px);
				@include rem(line-height, 39px);

				.large {
					@include rem(font-size, 38px);
					@include rem(line-height, 43px);
				}

				.xlarge {
					@include rem(font-size, 87px);
					@include rem(line-height, 42px);
				}

				img {
					top: 50px;
				}
			}
		}
	}
}

/* Mobile and Tablet */
@media (max-width: 940px) {

	.grid {

		.article-4 {
			width: 100%;
		}
	}
}

/* Mobile and Tablet */
@media (max-width: 790px) {

	.article-4 {

		.bullet-list {

			li {

				&.remington, &.winchester, &.russian {
					width: 33.333%;

					img {
						left: 35%;
					}
				}

				&.thumper-220, &.thumper-240 {
					width: 50%;

					img {
						left: 35%;
					}
				}

				&.remington, &.winchester {
					@include rem(font-size, 38px);
					@include rem(line-height, 44px);

					.large {
						@include rem(font-size, 43px);
						@include rem(line-height, 47px);
					}

					.xlarge {
						@include rem(font-size, 105px);
					}
				}

				&.russian {
					@include rem(font-size, 40px);

					.large {
						@include rem(font-size, 49px);
						@include rem(line-height, 51px);
					}

					.xlarge {
						@include rem(font-size, 51px);
						@include rem(line-height, 55px);
					}

					img {
						top: 60px;
					}
				}

				&.thumper-220 {
					@include rem(font-size, 53px);
					@include rem(line-height, 55px);

					.large {
						@include rem(font-size, 56px);
						display: block;
					}

					.xlarge {
						@include rem(font-size, 127px);
					}
				}

				&.thumper-240 {
					@include rem(font-size, 45px);
					@include rem(line-height, 68px);

					.large {
						@include rem(font-size, 56px);
						display: block;
					}

					.xlarge {
						@include rem(font-size, 127px);
					}
				}
			}
		}
	}
}

/* Mobile and Tablet */
@media (max-width: 640px) {

	.article-4 {

		.bullet-list {

			li {

				&.remington, &.winchester, &.russian {
					width: 33.333%;

					img {
						left: 22%;
					}
				}

				&.remington, &.winchester {
					@include rem(font-size, 23px);
					@include rem(line-height, 28px);

					.large {
						@include rem(font-size, 26px);
						@include rem(line-height, 29px);
						display: block;
					}

					.xlarge {
						@include rem(font-size, 65px);
					}
				}

				&.russian {
					@include rem(font-size, 22px);
					@include rem(line-height, 29px);

					.large {
						@include rem(font-size, 28px);
						@include rem(line-height, 30px);
						display: block;
					}

					.xlarge {
						@include rem(font-size, 29px);
						@include rem(line-height, 29px);
					}

					img {
						top: 60px;
					}
				}

				&.thumper-220 {
					@include rem(font-size, 28px);
					@include rem(line-height, 63px);
					padding: 70px 30px;

					p {
						text-align: right;
					}

					img {
						left: 30px;
						top: 10%
					}

					.large {
						@include rem(font-size, 30px);
						@include rem(line-height, 6px);	
					}

					.xlarge {
						@include rem(font-size, 70px);
						display: block;
					}
				}

				&.thumper-240 {
					@include rem(font-size, 24px);
					@include rem(line-height, 0px);
					padding: 70px 30px;

					p {
						text-align: right;
					}

					img {
						left: 10px;
						top: 0;
					}

					.large {
						@include rem(font-size, 30px);
						@include rem(line-height, 64px);	
					}

					.xlarge {
						@include rem(font-size, 70px);
						display: block;
					}
				}
			}
		}
	}
}

/* Mobile and Tablet */
@media (max-width: 400px) {

	.article-4 {

		.bullet-list {

			li {

				&.remington, &.winchester, &.russian, &.thumper-220, &.thumper-240 {
					width: 100%%;
					border-right: none;
					border-bottom: 1px solid $a4-grey-rule;
					padding: 70px 30px;

					img {
						left: 10px;
						top: 0;
					}

					p {
						text-align: right;
					}
				}

				&.remington, &.winchester {
					@include rem(font-size, 23px);
					@include rem(line-height, 28px);

					.large {
						@include rem(font-size, 26px);
						@include rem(line-height, 29px);
						display: block;
					}

					.xlarge {
						@include rem(font-size, 65px);
						display: block;
					}
				}

				&.russian {
					@include rem(font-size, 22px);
					@include rem(line-height, 29px);

					.large {
						@include rem(font-size, 28px);
						@include rem(line-height, 30px);
						display: block;
					}

					.xlarge {
						@include rem(font-size, 29px);
						@include rem(line-height, 29px);
						display: block;
					}

					img {
						top: 60px;
					}
				}

				&.thumper-220 {
					@include rem(font-size, 28px);
					@include rem(line-height, 63px);
					padding: 70px 30px;

					p {
						text-align: right;
					}

					img {
						left: 30px;
						top: 10%
					}

					.large {
						@include rem(font-size, 30px);
						@include rem(line-height, 6px);	
					}

					.xlarge {
						@include rem(font-size, 70px);
						display: block;
					}
				}

				&.thumper-240 {
					@include rem(font-size, 24px);
					@include rem(line-height, 0px);
					padding: 70px 30px;

					p {
						text-align: right;
					}

					img {
						left: 10px;
						top: 10%
					}

					.large {
						@include rem(font-size, 30px);
						@include rem(line-height, 64px);	
					}

					.xlarge {
						@include rem(font-size, 70px);
						display: block;
					}
				}
			}
		}
	}
}