// Article 2

.article-2 {
	padding: 140px 0 40px 50px;
	position: relative;

	.inner {
		position: relative;
		min-height: 571px;

		img {
			position: absolute;
			top: 0;
			left: -185px;
			z-index: 1;
		}

		.hgroup {
			position: absolute;
			z-index: 2;
			top: 370px;

			.mobile-show {
				display: none;
			}

			h6, h2 {
				text-transform: uppercase;
			}

			h6 {
				font-family: $font-merriweather;
				@include rem(font-size, 13px);
				color: $a2-beige;
			}

			h2 {
				font-family: $font-oswald;
				@include rem(font-size, 75px);
				@include rem(line-height, 79px);
				color: $a2-mustard;
				margin-bottom: 28px;
			}
		}
	}

	h5 {
		font-family: $font-lora;
		@include rem(font-size, 12px);
		font-style: italic;
		text-transform: uppercase;
		color: $a2-purple;
		text-align: right;
	}

	p {
		font-family: $font-merriweather;
		font-weight: 300;
		@include rem(font-size, 25px);
		@include rem(line-height, 33px);
	}
}

/* Mobile and Tablet */
@media (max-width: 730px) {

	.grid {

		.article-2 {
			width: 100%;
			padding: 0 0 50px;
			margin-bottom: 40px;
			border-bottom: 2px dotted #ddd;

			.mobile-hide {
				display: none;
			}

			.inner {
				min-height: 445px;

				img {
					width: 700px;
					top: -15px;
					left: -75px;
				}

				.hgroup {
					top: 240px;
					left: 30px;
				}
			}
		}
	}
}

@media (max-width: 500px) {

	.grid {

		.article-2 {
			padding-top: 50px;
		}
	}
}

@media (max-width: 400px) {

	.grid {

		.article-2 {
			padding-top: 130px;

			.inner {
				min-height: 420px;

				img {
					width: 200%;
					top: -10px;
				}

				.hgroup {
					left: 0;

					h2 {
						@include rem(font-size, 60px);
						@include rem(line-height, 65px);
					}
				}
			}

			p {
				@include rem(font-size, 21px);
				@include rem(line-height, 30px);
			}
		}
	}
}