// Article 5

.article-5 {
	color: $white;
	background-color: $a5-light-brown;

	h3 {
		@include rem(font-size, 49px);
		@include rem(line-height, 60px);
		font-family: $font-oswald;
		text-transform: uppercase;
		background-color: $a5-brown;
		text-align: center;
		padding: 27px 0;
	}

	.img-wrap {
		position: relative;

		img {
			max-width: 100%;
			display: block;
		}

		.page-curl {
			width: 130px;
			height: 130px;
			transition: 0.3s;
			background: $a5-brown url('../images/map-corner.jpg') 0 0 no-repeat;
			position: absolute;
			bottom: 0;
			right: 0;
			text-indent: -9999px;
			overflow: hidden;

			&:hover, &:focus {
				 border-radius: 40% / 100% 0 0 0;
				 transition: 0.6s;
				 cursor: pointer;
			}
		}
	}

	.figcaption {
		padding: 22px 22px 30px;
		@include rem(font-size, 26px);
		@include rem(line-height, 35px);
		font-family: $font-merriweather;
		font-weight: 300;
	}

	.resource {
		display: block;
		@include rem(font-size, 18px);
		color: $a5-grey;
		margin-top: 35px;
		text-decoration: none;

		&:hover, &:focus {
			color: $white;
			transition: 0.1s;
		}
	}
}