// Article 5

.article-5 {
	color: $white;
	background-color: $a5-light-brown;

	h3 {
		@include rem(font-size, 49px);
		@include rem(line-height, 60px);
		font-family: $font-oswald;
		text-transform: uppercase;
		background-color: $a5-brown;
		text-align: center;
		padding: 27px 0;
	}
		
	img {
		max-width: 100%;
	}

	a {
		text-decoration: none;

		&:hover, &:focus {
			transition: 0.1s;
		}
	}

	.figcaption {
		padding: 22px 22px 30px;
		@include rem(font-size, 26px);
		@include rem(line-height, 35px);
		font-family: $font-merriweather;
		font-weight: 300;
	}

	.resource {
		display: block;
		@include rem(font-size, 18px);
		color: $a5-grey;
		margin-top: 35px;

		&:hover, &:focus {
			color: $white;
		}
	}
}

/* Mobile and Tablet */
@media (max-width: 550px) {

	.article-5-wrap {
		padding: 0;

		.article-5 {

			h3 {
				@include rem(font-size, 40px);
				@include rem(line-height, 47px);
			}

			.figcaption {
				@include rem(font-size, 21px);
				@include rem(line-height, 31px);
			}

			.resource {
				@include rem(font-size, 15px);
				margin-top: 25px;
			}
		}
	}
}