// Articles

.article-1 {
	background-color: $a1-light-purple;
	text-align: center;

	h1 {
		color: $white;
	}

	h3 {
		font-family: $font-lora;
		@include rem(font-size, 36px);
		font-weight: 700;
		font-style: italic;
		color: $a1-purple-heading;
		margin-bottom: $spacing;
	}

	p {
		font-family: $font-lato;
		color: $a1-purple-body;
		@include rem(font-size, 19px);
		@include rem(line-height, 27px);
	}
}

.article-2 {

	h6, h2 {
		text-transform: uppercase;
	}

	h6 {
		font-family: $font-merriweather;
		@include rem(font-size, 13px);
		color: $a2-beige;
	}

	h2 {
		font-family: $font-oswald;
		@include rem(font-size, 75px);
		@include rem(line-height, 79px);
		color: $a2-mustard;
		margin-bottom: 28px;
	}

	p {
		font-family: $font-merriweather;
		font-weight: 300;
		@include rem(font-size, 25px);
		@include rem(line-height, 33px);
	}
}

.article-3 {
	text-align: right;
	padding: 0 18px;

	h4 {
		font-family: $font-oswald;
		@include rem(font-size, 21px);
		color: $a3-green;
		margin-bottom: 12px;
	}

	p {
		font-family: $font-lato;
		@include rem(font-size, 14px);
		@include rem(line-height, 19px);
		color: $a3-grey;
	}
}

.article-4 {

	h4 {
		border-style: solid;
		border-width: 1px 0;
		border-color: $a4-grey-rule;
		font-family: $font-oswald;
		@include rem(font-size, 15px);
		text-transform: uppercase;
		color: $a4-gold;
		text-align: center;
		padding: 16px 0;

		span {
			font-family: $font-lato;
			@include rem(font-size, 12px);
			color: $a4-cream;
		}
	}

	.bullet-list {
		@extend .clearfix;

		li {
			width: 20%;
			@include box-sizing(border-box);
			float: left;

			&.remington, &.winchester {
				@include rem(font-size, 28px);
				@include rem(line-height, 34px);

				.large {
					@include rem(font-size, 32px);
					@include rem(line-height, 35px);
				}

				.xlarge {
					@include rem(font-size, 79px);
				}
			}

			&.russian {
				@include rem(font-size, 31px);
				@include rem(line-height, 45px);

				.large {
					@include rem(font-size, 39px);
					@include rem(line-height, 40px);
				}

				.xlarge {
					@include rem(font-size, 40px);
					@include rem(line-height, 44px);
				}
			}

			&.thumper-220 {
				@include rem(font-size, 38px);
				@include rem(line-height, 41px);

				.large {
					@include rem(font-size, 40px);
				}

				.xlarge {
					@include rem(font-size, 87px);
					@include rem(line-height, 42px);
				}
			}

			&.thumper-240 {
				@include rem(font-size, 32px);
				@include rem(line-height, 39px);

				.large {
					@include rem(font-size, 38px);
					@include rem(line-height, 43px);
				}

				.xlarge {
					@include rem(font-size, 87px);
					@include rem(line-height, 42px);
				}
			}

			p {
				color: $a4-grey-rule;
				font-family: $font-oswald;
				text-transform: uppercase;
				text-align: center;

				.gr {
					text-transform: lowercase;
				}
			}
		}
	}
}

.article-5 {
	color: $white;

	h3 {
		@include rem(font-size, 49px);
		@include rem(line-height, 79px);
		font-family: $font-oswald;
		text-transform: uppercase;
		background-color: $a5-brown;
		text-align: center;
	}

	figure {
		@include rem(font-size, 26px);
		@include rem(line-height, 35px);
		font-family: $font-merriweather;
		font-weight: 300;
		background-color: $a5-light-brown;

		figcaption {
			padding: 22px 22px 30px;
		}

		.resource {
			display: block;
			@include rem(font-size, 18px);
			color: $a5-grey;
			margin-top: 35px;

			&:hover, &:focus {
				color: $white;
			}
		}
	}
}

.article-6 {
	background: transparent url('../images/immigration.jpg') 0 0 no-repeat;
	padding-top: 170px;

	h3, h4 {
		font-family: $font-oswald;
		@include rem(line-height, 79px);
	}

	h3 {
		text-transform: uppercase;
		@include rem(font-size, 82px);
		padding-bottom: 20px;
		border-bottom: 20px solid $black;
	}

	h4 {
		@include rem(font-size, 39px);
		@include rem(line-height, 79px);
		border-bottom: 3px solid $black;
		margin-bottom: 16px;
	}

	ul {
		@include rem(font-size, 22px);
		@include rem(line-height, 29px);
		font-family: $font-merriweather;
		font-weight: 300;

		li {
			display: inline;	
		}

		b {
			font-weight: 900;
		}
	}
}

.article-7 {
	padding: 13px 0 0 13px;
	
	.inner {
		background-color: $a7-blue;
		color: $white;
		padding: 0 13px 28px;
	}

	h4 {
		@include rem(font-size, 21px);
		@include rem(line-height, 30px);
		font-family: $font-oswald;
		text-transform: uppercase;
		padding-bottom: 15px;
		border-bottom: 10px solid $a7-light-blue;
		margin-bottom: 15px;

		.large {
			@include rem(font-size, 31px);
		}
	}

	.overview {
		@include rem(font-size, 16px);
		@include rem(line-height, 24px);
		font-family: $font-lora;
		font-weight: 400;
		font-style: italic;
		margin-bottom: 24px;
	}

	.hr-dash-top {
		border-style: dashed none solid;
		border-color: $a7-dark-blue transparent $a7-mid-blue;
		border-width: 2px 0 5px;
	}

	.hr-solid-top {
		border-style: solid none dashed;
		border-color: $a7-mid-blue transparent $a7-dark-blue;
		border-width: 5px 0 2px;
	}

	.rotten {
		font-family: $font-oswald;
		text-transform: uppercase;
	}
}