// Article 1

.a1-gradient {
	background: rgb(217,213,229); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(217,213,229,1) 0%, rgba(207,203,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,213,229,1)), color-stop(100%,rgba(207,203,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(217,213,229,1) 0%,rgba(207,203,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(217,213,229,1) 0%,rgba(207,203,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(217,213,229,1) 0%,rgba(207,203,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(217,213,229,1) 0%,rgba(207,203,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d5e5', endColorstr='#cfcbde',GradientType=0 ); /* IE6-9 */
}

.article-1 {
	background-color: $a1-light-purple;
	position: relative;

	&:before, &:after {
		content: '';
		background-color: $a1-light-purple;
		height: 100%;
		position: absolute;
		top: 0;
	}

	&:before {
		width: 100%;
		left: -100%;	
	}

	&:after {
		width: 22px;
		right: -22px;
	}

	.mobile-show {
		display: none;
	}

	h1 {
		color: $white;
		font-family: $font-lato;
		text-transform: uppercase;
		font-weight: 100;
		@include rem(font-size, 279px);
		@include rem(line-height, 220px);
		position: absolute;
		z-index: 4;
		left: -20px;
		top: 40px;
		letter-spacing: 4px;
	}

	.inner {
		min-height: 310px;
		text-align: center;
		margin-top: 700px;
		padding: 0 20px;
		position: relative;
		@extend .a1-gradient;
		
		&:before, &:after {
			content: '';
			position: absolute;
			height: 100%;
			@extend .a1-gradient;
			top: 0;
		}

		&:before {
			width: 100%;
			left: -100%;
		}

		&:after {
			width: 22px;
			right: -22px;
			z-index: 1;
		}

		img {
			position: absolute;
			top: -250px;
			left: -45px;
			z-index: 5;
		}

		.body {
			position: absolute;
			top: 85px;

			h3 {
				font-family: $font-lora;
				@include rem(font-size, 36px);
				font-weight: 700;
				font-style: italic;
				color: $a1-purple-heading;
				margin-bottom: 26px;
			}

			p {
				font-family: $font-lato;
				color: $a1-purple-body;
				@include rem(font-size, 19px);
				@include rem(line-height, 27px);
			}
		}		
	}
}

/* Mobile and Tablet */
@media (max-width: 730px) {

	.grid {

		.article-1 {
			width: 100%;
			padding-top: 30px;

			.mobile-show {
				display: block;
				font-family: $font-lora;
				@include rem(font-size, 12px);
				font-style: italic;
				text-transform: uppercase;
				color: $a1-purple-heading;
				text-align: right;
			}

			h1 {
				@include rem(font-size, 215px);
				@include rem(line-height, 195px);
				top: 30px;
				left: 45%;
			}

			.inner {
				margin-top: 300px;
				min-height: 340px;

				img {
					left: 0;
					top: -270px;
				}
			}
		}
	}
}

@media (max-width: 650px) {

	.grid {

		.article-1 {

			h1 {
				@include rem(font-size, 180px);
				@include rem(line-height, 155px);
				top: 55px;
				left: 45%;
			}

			.inner {

				img {
					width: 300px;
					top: -190px;
				}
			}
		}
	}
}

@media (max-width: 600px) {

	.grid {

		.article-1 {
			width: 100%;
			
			h1 {
				@include rem(font-size, 160px);
				@include rem(line-height, 140px);
				top: 50px;
				left: 50%;
			}

			.inner {
				margin-top: 370px;

				img {
					left: 0;
					top: -240px;
				}

				.body {
					top: 40px;
				}
			}
		}
	}
}

@media (max-width: 500px) {

	.grid {

		.article-1 {
			
			h1 {
				left: 40%;
			}
		}
	}
}

@media (max-width: 400px) {

	.grid {

		.article-1 {
			
			h1 {
				@include rem(font-size, 155px);
				@include rem(line-height, 130px);
				left: 10%;
			}

			.inner {
				margin-top: 480px;
			}
		}
	}
}