//Footer

.footer {
	padding-bottom: 60px;

	.col-12 {
		border-top: 1px solid $footer-grey-rule;
		padding-top: 20px;
	}

	small {
		font-family: $font-lato;
		@include rem(font-size, 17px);
		@include rem(line-height, 26px);
		color: $footer-grey;
	}

	.highlight, .p-name {
		color: $footer-dark-grey;
	}

	small {
		float: left;
	}

	.vcard {
		float: right;
		text-align: right;
		font-family: $font-merriweather;
		@include rem(font-size, 13px);
		@include rem(line-height, 19px);
		color: $footer-grey;

		.org {
			display: none;
		}

		b {
			font-weight: 900;
		}
	}
}

/* Mobile and Tablet */
@media (max-width: 400px) {

	.footer {
		padding-left: 30px;
		padding-right: 30px;

		.vcard {
			margin-top: 20px;
		}
	}
}