// Responsive

/* Mobile and Tablet */
@media (max-width: 940px) {

	.grid {

		.article-3 {
			width: 100%;
			padding: 0 18px 45px 170px;
			text-align: left;
		}

		.article-4 {
			width: 100%;
		}
	}
}

@media (max-width: 790px) {

	.grid {

		.article-4 {

			.bullet-list {

				li {

					&.remington, &.winchester, &.russian {
						width: 33.333%;

						img {
							left: 35%;
						}
					}

					&.thumper-220, &.thumper-240 {
						width: 50%;

						img {
							left: 35%;
						}

						.large {
							@include rem(font-size, 56px);
							@include rem(line-height, 55px);
						}

						.xlarge {
							@include rem(font-size, 127px);
							@include rem(line-height, 130px);
						}
					}

					&.remington, &.winchester {
						@include rem(font-size, 38px);
						@include rem(line-height, 44px);

						.large {
							@include rem(font-size, 43px);
							@include rem(line-height, 47px);
						}

						.xlarge {
							@include rem(font-size, 105px);
							@include rem(line-height, 105px);
						}
					}

					&.russian {
						@include rem(font-size, 40px);
						border-right: none;

						.large {
							@include rem(font-size, 49px);
							@include rem(line-height, 51px);
						}

						.xlarge {
							@include rem(font-size, 51px);
							@include rem(line-height, 55px);
						}

						img {
							top: 60px;
						}
					}

					&.thumper-220 {
						@include rem(font-size, 53px);
						@include rem(line-height, 55px);
					}

					&.thumper-240 {
						@include rem(font-size, 45px);
						@include rem(line-height, 68px);
					}
				}
			}
		}

		.article-6 {
			width: 100%;
		}

		.article-7 {
			width: 100%;
			margin-top: 50px;
			padding: 0;

			.inner {
				padding-top: 28px;

				img {
					top: -35px;
				}

				.pad {
					padding-left: 230px;
				}

				.p-summary {

					.large {
						display: block;
					}
				}

				.rotten {
					padding-left: 12px;
					@include rem(font-size, 32px);
					@include rem(line-height, 65px);

					.rating {
						display: inline;
					}
				}

				.event {
					padding-left: 12px;
				}
			}
		}
	}
}

@media (max-width: 730px) {

	.grid {

		.article-1 {
			width: 100%;
			padding-top: 30px;

			.mobile-show {
				display: block;
				font-family: $font-lora;
				@include rem(font-size, 12px);
				font-style: italic;
				text-transform: uppercase;
				color: $a1-purple-heading;
				text-align: right;
			}

			h1 {
				@include rem(font-size, 215px);
				@include rem(line-height, 195px);
				top: 30px;
				left: 45%;
			}

			.inner {
				margin-top: 300px;
				min-height: 340px;

				img {
					left: 0;
					top: -270px;
				}
			}
		}

		.article-2 {
			width: 100%;
			padding: 0 0 50px;
			margin-bottom: 40px;
			border-bottom: 2px dotted #ddd;

			.mobile-hide {
				display: none;
			}

			.inner {
				min-height: 445px;
				overflow: hidden;

				img {
					width: 700px;
					top: -15px;
					left: -75px;
				}

				.hgroup {
					top: 240px;
					left: 30px;
				}
			}
		}
	}
}

@media (max-width: 650px) {

	.grid {

		.article-1 {

			h1 {
				@include rem(font-size, 180px);
				@include rem(line-height, 155px);
				top: 55px;
				left: 45%;
			}

			.inner {

				img {
					width: 300px;
					top: -190px;
				}
			}
		}

		.article-4 {

			.bullet-list {

				li {

					&.remington, &.winchester, &.russian {
						padding-top: 270px;
						width: 33.333%;

						img {
							left: 22%;
						}
					}

					&.remington, &.winchester {
						@include rem(font-size, 23px);
						@include rem(line-height, 28px);

						.large {
							@include rem(font-size, 26px);
							@include rem(line-height, 29px);
						}

						.xlarge {
							@include rem(font-size, 65px);
							@include rem(line-height, 65px);
						}
					}

					&.thumper-220, &.thumper-240 {

						p {
							text-align: right;
						}

						.large {
							@include rem(font-size, 30px);
						}

						.xlarge {
							@include rem(font-size, 70px);
							@include rem(line-height, 40px);
						}
					}

					&.russian {
						@include rem(font-size, 22px);
						@include rem(line-height, 29px);

						.large {
							@include rem(font-size, 28px);
							@include rem(line-height, 30px);
						}

						.xlarge {
							@include rem(font-size, 29px);
							@include rem(line-height, 29px);
						}

						img {
							top: 60px;
						}
					}

					&.thumper-220 {
						@include rem(font-size, 28px);
						@include rem(line-height, 63px);
						padding: 70px 15px;

						img {
							left: 0;
							top: 10%
						}

						.large {
							@include rem(line-height, 4px);	
						}
					}

					&.thumper-240 {
						@include rem(font-size, 24px);
						@include rem(line-height, 0px);
						padding: 70px 15px;

						img {
							left: 10px;
							top: 0;
						}

						.large {
							@include rem(line-height, 64px);	
						}
					}
				}
			}
		}
	}

	.article-8 {

		.overflow-head {
			padding-top: 65px;
			background-position: -65px 0;

			h3 {
				margin-left: 0;
			}
		}
		
		.body {

			p {

				&.para-1, &.para-2, &.para-3 {
					width: 100%;
					margin-right: 0;
					margin-left: 0;
				}

				&.para-1, &.para-2 {
					margin-bottom: 35px;
				}
			}
		}
	}
}

@media (max-width: 600px) {

	.grid {

		.article-1 {
			width: 100%;
			
			h1 {
				@include rem(font-size, 160px);
				@include rem(line-height, 140px);
				top: 50px;
				left: 50%;
			}

			.inner {
				margin-top: 370px;

				img {
					left: 0;
					top: -240px;
				}

				.body {
					top: 40px;
				}
			}
		}
	}
}

@media (max-width: 500px) {

	.grid {

		.article-1 {
			
			h1 {
				left: 40%;
			}
		}

		.article-2 {
			padding-top: 50px;
		}

		.article-7 {

			.inner {

				.pad {
					padding-left: 12px;
				}

				img {
					top: -60px;
					left: 55%;
					width: 55%;
				}

				.rotten {
					@include rem(font-size, 18px);
					@include rem(line-height, 30px);

					.rating {
						display: block;
					}
				}
			}
		}
	}
}

@media (max-width: 550px) {

	.article-5-wrap {
		padding: 0;

		.article-5 {

			h3 {
				@include rem(font-size, 40px);
				@include rem(line-height, 47px);
			}

			.figcaption {
				@include rem(font-size, 21px);
				@include rem(line-height, 31px);
			}

			.resource {
				@include rem(font-size, 15px);
				margin-top: 25px;
			}
		}
	}
}

@media (max-width: 400px) {

	.grid {

		.article-1 {
			
			h1 {
				@include rem(font-size, 155px);
				@include rem(line-height, 130px);
				left: 10%;
			}

			.inner {
				margin-top: 480px;
			}
		}

		.article-2 {
			padding-top: 130px;

			.inner {
				min-height: 420px;

				img {
					width: 200%;
					top: -10px;
				}

				.hgroup {
					left: 0;

					h2 {
						@include rem(font-size, 60px);
						@include rem(line-height, 65px);
					}
				}
			}

			p {
				@include rem(font-size, 21px);
				@include rem(line-height, 30px);
			}
		}

		.article-3 {
			padding: 0 80px 35px 0;

			img {
				left: 70%;
				bottom: -20px;
			}
		}

		.article-4 {

			h4 {

				.sub {
					display: block;
					margin-top: 10px;
				}
			}

			.bullet-list {

				li {
					border-bottom: 1px solid $a4-grey-rule;

					&.remington, &.winchester, &.russian, &.thumper-220, &.thumper-240 {
						width: 100%%;
						border-right: none;

						img {
							left: 10px;
							top: 0;
						}

						p {
							text-align: right;
						}
					}

					&.remington, &.winchester {
						@include rem(font-size, 22px);
						@include rem(line-height, 48px);

						img {
							top: -25px;
						}

						.large {
							@include rem(font-size, 25px);
							@include rem(line-height, 14px);
							display: block;
						}

						.xlarge {
							@include rem(font-size, 64px);
							display: block;
						}
					}

					&.remington {
						padding: 20px 30px 40px;
					}

					&.winchester {
						padding: 35px 30px 40px;

						p {
							text-align: left;
						}

						img {
							left: 70%;
							top: -40px;
							z-index: 2;
						}
					}

					&.thumper-220, &.thumper-240 {

						.large {
							@include rem(font-size, 30px);
						}

						.xlarge {
							@include rem(font-size, 70px);
						}
					}

					&.russian {
						padding: 35px 30px 40px;
						@include rem(font-size, 24px);

						.large {
							@include rem(font-size, 30px);
							@include rem(line-height, 37px);
						}

						.xlarge {
							@include rem(font-size, 31px);
							@include rem(line-height, 34px);
						}

						img {
							top: -20px;
						}
					}

					&.thumper-220 {
						padding: 40px 30px 50px;
						@include rem(font-size, 28px);
						@include rem(line-height, 63px);

						p {
							text-align: left;
						}

						img {
							left: 70%;
							top: -10px;
						}

						.large {
							@include rem(line-height, 6px);	
						}
					}

					&.thumper-240 {
						padding: 40px 30px 50px;
						@include rem(font-size, 24px);
						@include rem(line-height, 0px);
						border: none;

						p {
							text-align: right;
						}

						img {
							left: 0px;
							top: -20px;
						}

						.large {
							@include rem(line-height, 64px);	
						}
					}
				}
			}
		}

		.article-6 {

			h3 {
				@include rem(font-size, 65px);
				@include rem(line-height, 65px);
			}

			h4 {
				@include rem(font-size, 33px);
				@include rem(line-height, 45px);
			}
			
			ul {
				@include rem(font-size, 18px);
				@include rem(line-height, 26px);
			}
		}

		.article-7 {
			margin-top: 230px;

			&:after {
				left: 43%;
			}

			.inner {

				h4 {
					text-align: center;
				}

				img {
					top: -180px;
					left: 11%;
					width: 80%;
				}
			}
		}

		.footer {
			padding-left: 30px;
			padding-right: 30px;

			.vcard {
				margin-top: 20px;
			}
		}
	}
}




